## Code With Me: Episode-1

### Detecting Outliers in Time Series Data using Local Outlier Factor Algorithm

Step:1  Import the Libraries

In [ ]:
import numpy as np
import pandas as pd
from sklearn.neighbors import LocalOutlierFactor

Step:2 Read in the dataset

In [ ]:
dataset = pd.read_csv("/content/PRSA_Data_Changping_20130301-20170228.csv")
dataset

          No  year  month  day  hour  ...  DEWP  RAIN   wd  WSPM    station
0          1  2013      3    1     0  ... -19.7   0.0    E   0.5  Changping
1          2  2013      3    1     1  ... -19.0   0.0  ENE   0.7  Changping
2          3  2013      3    1     2  ... -19.9   0.0  ENE   0.2  Changping
3          4  2013      3    1     3  ... -19.1   0.0  NNE   1.0  Changping
4          5  2013      3    1     4  ... -19.4   0.0    N   2.1  Changping
...      ...   ...    ...  ...   ...  ...   ...   ...  ...   ...        ...
35059  35060  2017      2   28    19  ... -13.3   0.0  NNE   1.3  Changping
35060  35061  2017      2   28    20  ... -14.0   0.0    N   2.1  Changping
35061  35062  2017      2   28    21  ... -13.0   0.0    N   1.5  Changping
35062  35063  2017      2   28    22  ... -12.6   0.0   NW   1.4  Changping
35063  35064  2017      2   28    23  ... -12.2   0.0    N   1.9  Changping

[35064 rows x 18 columns]

Step:3 Pre-processing

In [ ]:
dataset = dataset.dropna(axis =0)
dataset

          No  year  month  day  hour  ...  DEWP  RAIN   wd  WSPM    station
0          1  2013      3    1     0  ... -19.7   0.0    E   0.5  Changping
1          2  2013      3    1     1  ... -19.0   0.0  ENE   0.7  Changping
2          3  2013      3    1     2  ... -19.9   0.0  ENE   0.2  Changping
3          4  2013      3    1     3  ... -19.1   0.0  NNE   1.0  Changping
4          5  2013      3    1     4  ... -19.4   0.0    N   2.1  Changping
...      ...   ...    ...  ...   ...  ...   ...   ...  ...   ...        ...
35057  35058  2017      2   28    17  ... -12.6   0.0  WNW   4.2  Changping
35060  35061  2017      2   28    20  ... -14.0   0.0    N   2.1  Changping
35061  35062  2017      2   28    21  ... -13.0   0.0    N   1.5  Changping
35062  35063  2017      2   28    22  ... -12.6   0.0   NW   1.4  Changping
35063  35064  2017      2   28    23  ... -12.2   0.0    N   1.9  Changping

[32681 rows x 18 columns]

Step:4 Feature Selection

In [ ]:
df = dataset[['month','day','PM2.5', 'PM10']]
df = df[:1200]
df

      month  day  PM2.5   PM10
0         3    1    3.0    6.0
1         3    1    3.0    3.0
2         3    1    3.0    3.0
3         3    1    3.0    6.0
4         3    1    3.0    3.0
...     ...  ...    ...    ...
1258      4   22  218.0  159.0
1259      4   22  200.0  168.0
1260      4   22  165.0  184.0
1261      4   22  171.0  186.0
1262      4   22  177.0  195.0

[1200 rows x 4 columns]

In [ ]:
X = np.array(df['PM2.5']).reshape(-1,1)
Y = np.array(df['PM10']).reshape(-1,1)
month = np.array(df['month'])
day = np.array(df['day'])

Step:5 Model Creation

In [ ]:
model = LocalOutlierFactor(n_neighbors= 35 , contamination= 0.1)

Step:6 Prediction

In [ ]:
label = model.fit_predict(X,Y)
label

array([1, 1, 1, ..., 1, 1, 1])

In [ ]:
index = []
for i in range(len(label)):
  if label[i]!=1:
    index.append(i)
print("Outliers: ")
for i in index:
  print("Month",month[i]," Day", day[i])

Outliers:
Month 3  Day 1
Month 3  Day 1
Month 3  Day 2
Month 3  Day 3
Month 3  Day 3
Month 3  Day 3
Month 3  Day 4
Month 3  Day 5
Month 3  Day 5
Month 3  Day 6
Month 3  Day 6
Month 3  Day 6
Month 3  Day 6
Month 3  Day 6
Month 3  Day 6
Month 3  Day 6
Month 3  Day 6
Month 3  Day 6
Month 3  Day 6
Month 3  Day 6
Month 3  Day 7
Month 3  Day 7
Month 3  Day 7
Month 3  Day 8
Month 3  Day 8
Month 3  Day 8
Month 3  Day 8
Month 3  Day 8
Month 3  Day 9
Month 3  Day 9
Month 3  Day 10
Month 3  Day 11
Month 3  Day 11
Month 3  Day 12
Month 3  Day 12
Month 3  Day 12
Month 3  Day 12
Month 3  Day 12
Month 3  Day 13
Month 3  Day 14
Month 3  Day 14
Month 3  Day 15
Month 3  Day 15
Month 3  Day 16
Month 3  Day 16
Month 3  Day 16
Month 3  Day 16
Month 3  Day 16
Month 3  Day 16
Month 3  Day 16
Month 3  Day 17
Month 3  Day 17
Month 3  Day 17
Month 3  Day 17
Month 3  Day 17
Month 3  Day 17
Month 3  Day 17
Month 3  Day 17
Month 3  Day 17
Month 3  Day 17
Month 3  Day 17
Month 3  Day 18
Month 3  Day 18
Month 3  Day 18
Month 3  Day 19
Month 3  Day 19
Month 3  Day 19
Month 3  Day 20
Month 3  Day 21
Month 3  Day 21
Month 3  Day 21
Month 3  Day 22
Month 3  Day 23
Month 3  Day 25
Month 3  Day 26
Month 3  Day 26
Month 3  Day 26
Month 3  Day 26
Month 3  Day 27
Month 3  Day 27
Month 3  Day 27
Month 3  Day 28
Month 3  Day 28
Month 3  Day 29
Month 3  Day 30
Month 3  Day 31
Month 3  Day 31
Month 3  Day 31
Month 4  Day 2
Month 4  Day 2
Month 4  Day 2
Month 4  Day 3
Month 4  Day 3
Month 4  Day 3
Month 4  Day 4
Month 4  Day 4
Month 4  Day 5
Month 4  Day 5
Month 4  Day 6
Month 4  Day 6
Month 4  Day 6
Month 4  Day 10
Month 4  Day 10
Month 4  Day 10
Month 4  Day 11
Month 4  Day 12
Month 4  Day 13
Month 4  Day 14
Month 4  Day 14
Month 4  Day 14
Month 4  Day 15
Month 4  Day 15
Month 4  Day 15
Month 4  Day 16
Month 4  Day 16
Month 4  Day 18
Month 4  Day 19
Month 4  Day 21
Month 4  Day 21
Month 4  Day 22